body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div.navbar {
  overflow: hidden;
  background-color: #333;
}

div.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

div.navbar a.right {
  float: right;
}

div.navbar a:hover {
  background-color: #ddd;
  color: black;
}

img {
  width: 100%;
}

div.main_image {
  position: relative;
  text-align: center;
  color: white;
}

div.text {
  color: white;
  font-size: 70px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-shadow: 10px 10px 15px black;
  text-decoration-color: black;
  transform: translate(-50%, -50%);
}
